.container.wpforms_container {
    width: 70%;
    border: 1px solid #ddd;
    padding: 30px;
}
.input_field {
    padding: 12px;
    border: none;
    background: rgba(0,0,0,0.03);
    width: 90%;
    border: 1px solid;
    border-color: rgba(0,0,0,0.05);
    margin-bottom: 10px;
}
.input_wrapper label {
    display: block;
    margin-bottom: 5px;
}
.wpf_submit{
	padding: 10px 35px;
    border: none;
    font-size: 18px;
    cursor: pointer;
    background: #30d9ff;
    margin-top: 10px;
}

label.error {
    color: red;
    font-size: 1rem;
    display: block;
    margin-top: 5px;
}

input.error {
    border: 1px dashed red;
    font-weight: 300;
    color: red;
}

.success {
    display: block;
    font-weight: bold;
    font-size: 17px;
    line-height: 17px;
    padding: 7px;
    background-color: #58eb78;
    color: #000000;
    margin-top: 20px;
}